<a href="https://colab.research.google.com/github/Maitry-star/ineuron-python-Assignments/blob/master/Numpy_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

1: Write a function so that the columns of the output matrix are powers of the input vector. The order of the powers is determined by the increasing boolean argument. Specifically, when increasing is False, the i-th output column is the input vector raised element-wise to the power of N - i - 1.

HINT: Such a matrix with a geometric progression in each row is named for Alexandre- Theophile Vandermonde.

In [ ]:
a = np.array([1,2,3,4,5])
np.vander(a,4,increasing=True)

array([[  1,   1,   1,   1],
       [  1,   2,   4,   8],
       [  1,   3,   9,  27],
       [  1,   4,  16,  64],
       [  1,   5,  25, 125]])

In [ ]:
np.vander(a,4,increasing=False)

array([[  1,   1,   1,   1],
       [  8,   4,   2,   1],
       [ 27,   9,   3,   1],
       [ 64,  16,   4,   1],
       [125,  25,   5,   1]])

Problem Statement 2:
Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th 

moving average of

the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.

The moving averages with k=4 of a ten-value sequence (n=10) is shown below

i 1 2 3 4 5 6 7 8 9 10

===== == == == == == == == == == ==
Input 10 20 30 40 50 60 70 80 90 100

y1 25 = (10+20+30+40)/4

y2 35 = (20+30+40+50)/4

y3 45 = (30+40+50+60)/4

y4 55 = (40+50+60+70)/4

y5 65 = (50+60+70+80)/4

y6 75 = (60+70+80+90)/4

y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values

In [ ]:
lst=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
x = [ 10,20,30,40,50,60,70,80,90,100]

In [ ]:
def movingAverage(x,k):
    x = np.array(x)
    if k <= len(x):
        for i in range(len(x)-k+1):
            s = np.array(x)[i:k+i].sum()/k
            print("y{0} = {1:.2f}".format(i+1, s))
    else:
        print(f"Enter, k <= {len(x)}")

In [ ]:
movingAverage(lst,14)

Enter, k <= 13

In [ ]:
movingAverage(lst,3)

y1 = 5.00
y2 = 4.67
y3 = 5.67
y4 = 6.67
y5 = 9.67
y6 = 28.67
y7 = 49.33
y8 = 72.67
y9 = 84.00
y10 = 93.33
y11 = 116.33

# or with 'cumsum'

In [ ]:
def mov_avg(lst,k):
    lst = np.array(lst)
    lst=lst.cumsum()
    y=[]
    for i in range(len(lst)-k+1):
        if i==0:
            avg = lst[k-1]/k
        else:
            l=lst[i+k-1]-lst[i-1]
            avg = l/k
            y.append(avg)
        print("y{0} = {1:.2f}".format(i+1, avg))

In [ ]:
mov_avg(lst,3)

y1 = 5.00
y2 = 4.67
y3 = 5.67
y4 = 6.67
y5 = 9.67
y6 = 28.67
y7 = 49.33
y8 = 72.67
y9 = 84.00
y10 = 93.33
y11 = 116.33

In [ ]:
mov_avg(x,4)

y1 = 25.00
y2 = 35.00
y3 = 45.00
y4 = 55.00
y5 = 65.00
y6 = 75.00
y7 = 85.00